.card{
    width: 300px;
    /* height: 350px; */
    border: 2px solid rgb(198, 193, 193);
    border-radius: 10px;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 200px;
}
h1{
    margin: 0px;
}
.box{
    padding: 10px 20px  ;
}
.details{
    padding: 20px;
}
.bu{
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
p{
    text-align: justify;
}
